.actions {
  display: flex;
  gap: 2px;
  align-items: center;
  flex-shrink: 0;
}

.editButton {
  display: flex;
}

.searchRow {
  width: 100%;
}

@media (max-width: 768px) {
  .editButton {
    display: none;
  }
}
