.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row-start: 2;
  margin-top: 10px;
}

.stationRow {
  margin-bottom: 20px;
}

.titleWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  min-width: 0;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.stationId {
  font-size: 18px;
  color: #555;
  font-weight: 300;
  padding-left: 8px;
  display: inline-block;

}

.selected {
  align-items: center;
  flex-direction: row;
}

.subtitleWrapper {
  color: #615862;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--font-open-sans), system-ui, sans-serif;
}

.name {
  margin-left: 5px;
  text-transform: capitalize;
}

.footerText1 {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-family: var(--font-open-sans), system-ui, sans-serif;
} 

.footerText2 {
  font-size: 16px;
  font-weight: 800;
  color: #d43e3e;
  text-align: center;
  font-family: var(--font-open-sans), system-ui, sans-serif;
} 