.floatingWrapper {
  position: relative;
}

.floatingLabel {
  position: absolute;
  top: -5px;
  left: 8px;
  font-size: 10px;
  font-weight: 300;
  color: #555;
  background: var(--mantine-color-body);
  padding: 0 4px;
  z-index: 1;
  pointer-events: none;
  line-height: 1;
}

.loader {
  margin: 25% auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  gap: 15px;
  align-items: center;

  & label {
    padding-left: 5px;
    padding-right: 15px;
  }
}

.rowNoGap {
  display: flex;
  gap: 0;
  align-items: center;

  & label {
    padding-left: 5px;
    padding-right: 15px;
  }
} 

.rangeInputs {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .rangeInputs {margin-left: 0;  }
}

.rangeLabel {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  min-width: 110px;
  max-width: 110px;
}

.inlineGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inlineGroup [role="radiogroup"],
.inlineGroup [role="group"] {
  display: flex;
  align-items: center;
}

.inlineGroup [role="radiogroup"],
.inlineGroup [role="group"] {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .rangeLabel {
    display: none;
  }

  .inlineGroup > label {
    display: none;
  }

  .group [role="radiogroup"] {
    flex-direction: column;
    gap: 10px;
    height: unset;
    align-items: flex-start;
  }

  .group [role="group"] {
    display: flex;
    height: 36px;
    align-items: center;
    gap: 10px;
  }
}
